set nocompatible              " be iMproved, required
set hidden
filetype off                  " required

" remaps
let mapleader = "\<Space>"
nnoremap , :
nnoremap j gj
nnoremap k gk
"nnoremap ö l
"nnoremap l h
"nnoremap h /
vnoremap <C-c> "+y
"vnoremap ö l 
"vnoremap l h
" nnoremap <C-v> "+p
noremap <C-k> :call feedkeys( line('.')==1 ? '' : 'ddkP' )<CR>
noremap <C-j> ddp
nnoremap <silent> <esc> :noh<cr><esc>

" Use ALT+{h,j,k,l} to navigate windows from any mode
:tnoremap <M-h> <C-\><C-N><C-w>h
:tnoremap <M-j> <C-\><C-N><C-w>j
:tnoremap <M-k> <C-\><C-N><C-w>k
:tnoremap <M-l> <C-\><C-N><C-w>l
:inoremap <M-h> <C-\><C-N><C-w>h
:inoremap <M-j> <C-\><C-N><C-w>j
:inoremap <M-k> <C-\><C-N><C-w>k
:inoremap <M-l> <C-\><C-N><C-w>l
:nnoremap <M-h> <C-w>h
:nnoremap <M-j> <C-w>j
:nnoremap <M-k> <C-w>k
:nnoremap <M-l> <C-w>l

set ignorecase	" case insensitive search
set smartcase		" case insensitive search unless one uppercase char is used
set incsearch     	" show search matches as you type
set history=1000        " remember more commands and search history
set undolevels=1000     " use many levels of undo

